<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>aplicacao</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OCRServlet</display-name>
    <servlet-name>OCRServlet</servlet-name>
    <servlet-class>servlets.OCRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OCRServlet</servlet-name>
    <url-pattern>/OCRServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarcaServlet</display-name>
    <servlet-name>MarcaServlet</servlet-name>
    <servlet-class>servlets.MarcaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarcaServlet</servlet-name>
    <url-pattern>/MarcaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TamanhoServlet</display-name>
    <servlet-name>TamanhoServlet</servlet-name>
    <servlet-class>servlets.TamanhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TamanhoServlet</servlet-name>
    <url-pattern>/TamanhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FiltroServlet</display-name>
    <servlet-name>FiltroServlet</servlet-name>
    <servlet-class>servlets.FiltroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiltroServlet</servlet-name>
    <url-pattern>/FiltroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarServlet</display-name>
    <servlet-name>RegistrarServlet</servlet-name>
    <servlet-class>servlets.RegistrarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarServlet</servlet-name>
    <url-pattern>/RegistrarServlet</url-pattern>
  </servlet-mapping>
</web-app>